##Scrapping The Data From E-Jal Shakti Portal

In [1]:
import requests
from bs4 import BeautifulSoup

# URL of the webpage to scrape
url = "https://ejalshakti.gov.in/JJM/JJMReports/BasicInformation/JJMRep_AbstractData_P.aspx?Istate=LmYh8%2bZGmQs%3d&IAgency=TShh%2fRgOLjs%3d&IDistrict=OfbZowzmR74%3d&Iblock=dc9mfQV3m0c%3d&IFinyear=joOf9Wxy6nf0qdH7vFm42w%3d%3d&ICategory=5C1KxeqUjmo%3d"

# Fetch the HTML content of the webpage
response = requests.get(url)

# Check if the request was successful

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the webpage to scrape
url = "https://ejalshakti.gov.in/JJM/JJMReports/BasicInformation/JJMRep_AbstractData_P.aspx?Istate=LmYh8%2bZGmQs%3d&IAgency=TShh%2fRgOLjs%3d&IDistrict=OfbZowzmR74%3d&Iblock=dc9mfQV3m0c%3d&IFinyear=gM%2bgaDUgSoCIzwchG9%2bXOQ%3d%3d&ICategory=5C1KxeqUjmo%3d"

# Fetch the HTML content of the webpage
response = requests.get(url)

# Check if the request was successful
soup=BeautifulSoup(response.text, 'html')

## Data Being Scrapped Now Combining the data of all 325 villages in one single file

In [3]:
table = soup.find('table', {'class': 'w3-table'})

# Extract column names
column_names = []
for th in table.find_all('th'):
    column_names.append(th.text.strip())

# Create an empty DataFrame with the extracted column names
df = pd.DataFrame(columns=column_names[0:8])

In [4]:
# Find all rows in the table
rows = table.find_all('tr')

# Initialize an empty list to store row data
data = []

# Iterate through each row (skipping the header row)
for row in rows[1:]:
    # Extract data from each column
    row_data = []
    for td in row.find_all('td'):
        row_data.append(td.text.strip())

    # Append the row data to the list
    data.append(row_data)

# Create a DataFrame from the list of row data
df = pd.DataFrame(data, columns=column_names[0:7])

In [5]:
df

,S.No.,Panchayat,Total Villages,Villages,Habitations,HouseHolds,Population
0,None,None,None,None,None,None,None
1,1,ANUR,11,11,12,1444,6984
2,2,BATLAHALLY,9,9,9,1602,6533
3,3,BOOMISHETTIHALLY,11,11,13,1212,5602
4,4,BURUDAGUNTE,9,9,12,1997,7728
5,5,CHILAKALANERPU,8,8,11,1345,6069
6,6,CHINNASANDRA,5,5,5,1486,7305
7,7,DHODDAGANJUR,8,8,8,1378,6120
8,8,HIREKATTIGENAHALLY,10,10,11,1425,6620
9,9,IRAGAMPALLI,6,6,9,1097,5154
10,10,KADADHALAMARI,8,8,12,1430,5964
11,11,KAGATHI,10,10,11,2206,9262
12,12,KAIWARA,3,3,4,1859,7214
13,13,KATHARIGUPPE,10,10,14,1565,7759
14,14,KENCHARLAHALLY,7,6,7,808,3054
15,15,KONAPALLI,9,9,9,1273,5560
16,16,KORLAPARTHI,13,13,19,1242,6007
17,17,KOTAGAL,14,13,16,1939,9104
18,18,KURABUR,10,8,9,2281,8252
19,19,M.GOLLAHALLY,8,8,16,1725,7139
20,20,MASTHENAHALLY,6,6,6,1038,4688
21,21,MINDIGAL,11,10,16,1254,6256
22,22,MITTAHALLY,11,11,17,2480,6055
23,23,MUNAGANAHALLY,9,9,10,1693,7932
24,24,MURUGAMALLA,9,8,12,1653,7935
25,25,NADHIGANAHALLY,11,11,11,1438,6652
26,26,OOLAVADI,9,7,10,2071,8956
27,27,PEDDUR,14,14,14,1340,6771
28,28,PERUMACHANAHALLY,9,9,12,1861,8688
29,29,RAGUTTAHALLY,14,12,14,1532,6339
30,30,SANTHEKALLAHALLY,9,8,9,1770,7393
31,31,SHETTIHALLY,14,14,17,1450,6717
32,32,THALAGAVARA,7,7,7,1737,7561
33,33,UPPARAPETE,14,14,16,1700,9401
34,34,YEGAVAKOTE,11,9,11,1310,5690
35,35,YENIGADHELE,11,11,16,1403,5877
36,None,None,None,None,None,None,None

In [6]:
df.iloc[0]=column_names[7:14]

#data After removing last row as that include all none values

In [7]:
df=df.iloc[:-1]
df

,S.No.,Panchayat,Total Villages,Villages,Habitations,HouseHolds,Population
0,,Total,338,325,405,55044,240341
1,1,ANUR,11,11,12,1444,6984
2,2,BATLAHALLY,9,9,9,1602,6533
3,3,BOOMISHETTIHALLY,11,11,13,1212,5602
4,4,BURUDAGUNTE,9,9,12,1997,7728
5,5,CHILAKALANERPU,8,8,11,1345,6069
6,6,CHINNASANDRA,5,5,5,1486,7305
7,7,DHODDAGANJUR,8,8,8,1378,6120
8,8,HIREKATTIGENAHALLY,10,10,11,1425,6620
9,9,IRAGAMPALLI,6,6,9,1097,5154
10,10,KADADHALAMARI,8,8,12,1430,5964
11,11,KAGATHI,10,10,11,2206,9262
12,12,KAIWARA,3,3,4,1859,7214
13,13,KATHARIGUPPE,10,10,14,1565,7759
14,14,KENCHARLAHALLY,7,6,7,808,3054
15,15,KONAPALLI,9,9,9,1273,5560
16,16,KORLAPARTHI,13,13,19,1242,6007
17,17,KOTAGAL,14,13,16,1939,9104
18,18,KURABUR,10,8,9,2281,8252
19,19,M.GOLLAHALLY,8,8,16,1725,7139
20,20,MASTHENAHALLY,6,6,6,1038,4688
21,21,MINDIGAL,11,10,16,1254,6256
22,22,MITTAHALLY,11,11,17,2480,6055
23,23,MUNAGANAHALLY,9,9,10,1693,7932
24,24,MURUGAMALLA,9,8,12,1653,7935
25,25,NADHIGANAHALLY,11,11,11,1438,6652
26,26,OOLAVADI,9,7,10,2071,8956
27,27,PEDDUR,14,14,14,1340,6771
28,28,PERUMACHANAHALLY,9,9,12,1861,8688
29,29,RAGUTTAHALLY,14,12,14,1532,6339
30,30,SANTHEKALLAHALLY,9,8,9,1770,7393
31,31,SHETTIHALLY,14,14,17,1450,6717
32,32,THALAGAVARA,7,7,7,1737,7561
33,33,UPPARAPETE,14,14,16,1700,9401
34,34,YEGAVAKOTE,11,9,11,1310,5690
35,35,YENIGADHELE,11,11,16,1403,5877